table {
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

tr{
    background-color: #eeffee;
}

.show {
	visibility: visible !important;
}
table td:nth-child(5){
	visibility: hidden;
}

