table {
    border-collapse: collapse;
	 float: left;
}

td,
th {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

tr{
    background-color: #eeffee;
}

tr:hover {
    background-color: #049FA4;
}
